* {
  color: inherit;
  font-size: inherit;
  font-style: inherit;
  box-shadow: initial;
  margin-top: initial;
  font-family: inherit;
  font-weight: inherit;
  text-shadow: inherit;
  padding-top: initial;
  font-variant: inherit;
  padding-left: initial;
  -icon-shadow: inherit;
  margin-bottom: initial;
  padding-right: initial;
  outline-style: initial;
  outline-width: initial;
  background-image: none;
  padding-bottom: initial;
  outline-offset: initial;
  outline-color:  initial;
  background-clip: initial;
  background-size: initial;
  background-color: initial;
  border-top-color: initial;
  transition-delay: initial;
  border-top-style: initial;
  border-top-width: initial;
  border-left-style: initial;
  border-left-width: initial;
  background-origin: initial;
  border-left-color: initial;
  background-repeat: initial;
  border-right-color: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-right-style: initial;
  border-right-width: initial;
  background-position: initial;
  border-bottom-color: initial;
  border-image-source: initial;
  border-image-repeat: initial;
  transition-property: initial;
  transition-duration: initial;
  border-bottom-style: initial;
  border-bottom-width: initial;
  border-top-left-radius: initial;
  border-top-right-radius: initial;
  border-bottom-left-radius: initial;
  border-bottom-right-radius: initial;
  transition-timing-function: initial;
}
